body {
  font-family: sans-serif;
  text-align: center;
  background: #6FB053; 
  /*#f4f4f4*/
}

/* use "." to connect the HTML class to CSS */
.buttons button{
  margin: 6px;
  padding: 12px 18px;
  font-size: 40px;
  background-color: blue;
  color: white;
}

/* use "#" to connect HTML id to CSS*/
#score{
  font-size: 60px;
}

#garbage-img {
  max-width: 1200px;
  max-height: 1000px;
  display: block;
  margin: 20px auto;
}

#testing{
  font-size: 30px;
}

